:root {
  font-size: 10px;
  --button-color: #596d48;
  --input-border-color: #e5e7eb;
}
@font-face {
  font-family: norse-bold;
  src: url(./Norse-Bold.otf);
}

body {
  margin: 0px;
  min-height: 100vh;
  min-width: 100vw;
  font-family: Helvetica, Arial, sans-serif;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

body > :first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}

.logo-picture {
  background-image: url(./halie-west.jpg);
  background-size: cover;
  height: 100vh;
  flex-basis: 1;
  flex-grow: 1;
  flex-shrink: 1;
  width: 30%;
}

.form-data {
  height: 92vh;
  flex-basis: 2;
  flex-grow: 2;
  flex-shrink: 2;
  width: 60%;
}

.footer-left {
  color: aliceblue;
}

a[href="https://unsplash.com/@haliewestphoto"],
a[href="https://unsplash.com/"]
{
  text-decoration: underline;
  color: var(--input-border-color);
}

a[href=""] {
  text-decoration: underline;
  color: var(--button-color);
}

img[src="./odin-lined.png"] {
  width: auto;
  height: 80%;
}

.odin-writing {
  color: var(--input-border-color);
  font-size: 15vh;
  font-family: norse-bold, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding-top: 4vh;
}

.logo-picture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 17vh;
  margin-top: 25vh;
  padding: 2rem 0rem;
}

.form-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
  background-color: rgb(245, 245, 245);
  padding: 3rem;
}

.header-rigth {
  font-size: max(2.5vh, 100%);
  padding: 1rem 0.5rem;
}

form > div:first-of-type {
  font-size: max(2.5vh, 100%);
  padding: 1rem 0.5rem;
}

.form-info {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  gap: 4%;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.form-info div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 2%;
  width: 25rem;
}

label {
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  font-weight: 800;
  color: rgb(84, 81, 81);
}

.form-data > div:last-child {
  font-size: min(3vh, 1.5rem);
}

button {
  width: 16rem;
  height: 4rem;
  background-color: var(--button-color);
  border-radius: 5px;
  color: var(--input-border-color);
}

input {
  border: solid var(--input-border-color);
  border-radius: 5px;
}

input:focus {
  border-color: blue;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}
